server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/demo
    username: demo
    password: demo
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true

  kafka:
    bootstrap-servers: localhost:9092
